.projects {
  padding: 25px 0 25px;
  background-color: #fff;
}

.projects__wrapper {
  display: grid;
  grid-template-columns: minmax(270px, 66.66%) minmax(220px, 32%);
  grid-template-rows: auto 298px;
  gap: 52px 50px;
}

.projects__descr {
  display: grid;
  gap: 30px;
  grid-row: 1 / -1;
  align-self: stretch;
}

.projects__question {
  position: relative;
  padding-top: 10px;
}

.projects__question img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__gallery-box {
  padding-bottom: 13px;
  display: flex;
  flex-direction: column;
}

.projects__item {
  display: grid;
  grid-template-columns: auto minmax(130px, 380px);
  gap: 20px;
  max-width: 680px;
  height: 180px;
}

.projects__item--img {
  position: relative;
}

.projects__item--img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__item-descr {
  padding-bottom: 13px;
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.projects__item-title {
  margin-bottom: 15px;
  font-size: 30px;
}

.projects__item-text {
  font-weight: 300;
  letter-spacing: -0.1px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.projects__item-link {
  display: inline-block;
  position: relative;
}

.link {
  display: inline-block;
  position: relative;
  margin-top: auto;
  width: max-content;
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-accent);
}

.link::after {
  position: absolute;
  content: '';
  display: inline-block;
  background-image: url('../img/arrow-right.svg');
  width: 27px;
  height: 17px;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
}

.projects__question::after {
  position: absolute;
  content: '';
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.81) 100%
  );
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.projects__question-title {
  position: absolute;
  bottom: 40px;
  left: 10px;
  width: 360px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33333;
  color: #fff;
  z-index: 9;
}

.projects__question-link {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  right: 54px;
  z-index: 9;
}

.projects__gallery-text {
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-text);
}

.projects__gallery-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.projects__gallery-item {
  position: relative;
  max-width: 80px;
  height: 70px;
}

.projects__gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__gallery-link {
  display: none;
}

@media (max-width: 1130px) {
  .projects__wrapper {
    grid-template-columns: minmax(270px, 580px) minmax(220px, 280px);
    grid-template-rows: auto 244px;
    gap: 34px 20px;
  }

  .projects__item-descr {
    padding-bottom: 6px;
  }

  .projects__item {
    height: 130px;
  }

  .projects__item--img {
    width: 200px;
  }

  .projects__item-title {
    margin-bottom: 7px;
    font-size: 24px;
  }

  .projects__item-text {
    font-size: 18px;
  }

  .link {
    font-size: 18px;
  }

  .projects__question-title {
    font-size: 24px;
    width: 240px;
  }
  .projects__question-link {
    bottom: 5px;
    right: 48px;
  }

  .projects__gallery-box {
    padding-bottom: 3px;
  }

  .projects__gallery-text {
    margin-bottom: 6px;
    font-size: 18px;
  }

  .projects__gallery-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects__gallery-item:nth-child(n + 7) {
    display: none;
  }

  .projects__gallery-link {
    margin-right: 36px;
    display: inline-block;
    align-self: flex-end;
  }
}

@media (max-width: 920px) {
  .projects__wrapper {
    grid-template-columns: minmax(270px, 580px) minmax(220px, 244px);
    grid-template-rows: min-content min-content;
    gap: 20px 80px;
  }

  .projects__descr {
    gap: 20px;
  }

  .projects__item {
    max-width: 400px;
    height: 104px;
    gap: 8px;
  }

  .projects__item--img {
    max-width: 160px;
  }

  .projects__item-title {
    margin-bottom: 3px;
    font-size: 18px;
  }

  .projects__item-text {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .link {
    font-size: 14px;
  }

  .link::after {
    width: 25px;
    height: 16px;
  }

  .projects__question {
    padding-top: 0;
    height: 300px;
  }

  .projects__question-title {
    font-size: 18px;
    width: 180px;
  }

  .projects__question-link {
    font-size: 14px;
    bottom: 30px;
    right: 113px;
  }

  .projects__gallery-box {
    padding-bottom: 0;
  }

  .projects__gallery-text {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .projects__gallery-item {
    position: relative;
    max-width: 80px;
    height: 60px;
  }

  .projects__gallery-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 820px) {
  .projects__question {
    height: 270px;
  }

  .projects__gallery-item {
    max-width: 60px;
  }

  .projects__question-link {
    right: 60px;
  }

  .projects__gallery-link {
    margin-right: 48px;
  }
}

@media (max-width: 682px) {
  .projects__item-title {
    font-size: 16px;
  }

  .projects__wrapper {
    gap: 20px;
  }

  .projects__item {
    height: 134px;
  }

  .projects__item--img {
    max-width: 130px;
    height: 134px;
  }

  .projects__item-descr {
    max-width: 260px;
  }
}

@media (max-width: 540px) {
  .projects__wrapper {
    grid-template-columns: minmax(270px, 500px);
  }

  .projects__gallery-box {
    max-width: 100%;
  }

  .projects__gallery-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .projects__gallery-item:nth-child(n + 5) {
    display: none;
  }
}

@media (max-width: 380px) {
  .projects__wrapper {
    gap: 32px;
  }

  .projects__item-title--short {
    width: 120px;
  }

  .projects__question-title {
    font-size: 16px;
    width: 282px;
    bottom: 52px;
  }

  .projects__question {
    max-width: 380px;
    height: 320px;
  }

  .projects__question-link {
    right: 54px;
    bottom: 25px;
  }
  .projects__gallery-item {
    height: 53px;
  }
  .projects__gallery-list {
    margin-bottom: 8px;
  }
  .projects__gallery-link {
    margin-right: 44px;
  }
}
