.projects {
  background-color: #fff;
}

.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px 120px;
}

.projects__descr {
  display: grid;
  gap: 30px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  height: 810px;
}

.projects__item {
  grid-template-columns: 3fr 4fr;
  display: grid;
  gap: 20px;
  height: 180px;
}

.projects__img {
  width: 280px;
  height: 180px;
}

.projects__item-descr {
  display: flex;
  flex-direction: column;
  max-width: 380px;
}
.projects__item-title {
  margin-bottom: 15px;
  font-size: 30px;
}

.projects__item-text {
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: -0.1px;
}

.projects__item-link {
  display: inline-block;
  position: relative;
}

.link {
  display: inline-block;
  position: relative;
  width: max-content;
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-accent);
}

.link::after {
  position: absolute;
  content: '';
  display: inline-block;
  background-image: url('../img/arrow-right.svg');
  width: 27px;
  height: 17px;
  background-position: center;
  top: 6px;
  right: -40px;
}

.projects__question {
  position: relative;
  width: 380px;
  height: 450px;
}

.projects__question-img {
  display: block;
  width: 100%;
  position: relative;
}

.projects__question::after {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.projects__question-title {
  position: absolute;
  bottom: 40px;
  left: 10px;
  width: 360px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33333;
  color: #fff;
  z-index: 9;
}

.projects__question-link {
  display: inline-block;
  position: absolute;
  bottom: 38px;
  right: 50px;
  z-index: 9;
}

.projects__gallery-box {
  width: 380px;
  height: 298px;
}

.projects__gallery-text {
  margin-bottom: 22px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-text);
}

.projects__gallery-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.projects__gallery-link {
  display: none;
}

@media (max-width: 1024px) {
.projects__wrapper {
  gap: 0 54px;
}

.projects__descr {
  height: 610px;
}

.projects__item {
  grid-template-columns: 2fr 4fr;
  height: 130px;
}

  .projects__item-title {
    margin-bottom: 7px;
    font-size: 24px;
  }

  .projects__item-text {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .link {
    font-size: 18px;
  }

  .link::after {
    top: 4px;
  }

  .projects__question {
    width: 280px;
    height: 332px;
  }

  .projects__question-title {
  bottom: 48px;
  left: 10px;
  width: 260px;
  font-size: 24px;
  line-height: 1.25;
  }

  .projects__question-link {
  bottom: 10px;
  right: 50px;
}

.projects__img {
  width: 200px;
  height: 130px;
}

.projects__gallery-box {
  position: relative;
  width: 280px;
  height: auto;

  
}

.projects__gallery-text {
  margin-bottom: 6px;
  font-size: 18px;
}

.projects__gallery-list {
  grid-template-columns: repeat(3, 1fr);
 

}

.projects__gallery-item:nth-child(n+7) {
  display: none;
}

.projects__gallery-link {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  right: 36px;
  
}
}


@media (max-width: 768px) {
.projects__wrapper {
  gap: 0 54px;
}

.projects__descr {
  height: 610px;
}

.projects__item {
  grid-template-columns: 2fr 4fr;
  height: 130px;
}

  .projects__item-title {
    margin-bottom: 7px;
    font-size: 24px;
  }

  .projects__item-text {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .link {
    font-size: 18px;
  }

  .link::after {
    top: 4px;
  }

  .projects__question {
    width: 280px;
    height: 332px;
  }

  .projects__question-title {
  bottom: 48px;
  left: 10px;
  width: 260px;
  font-size: 24px;
  line-height: 1.25;
  }

  .projects__question-link {
  bottom: 10px;
  right: 50px;
}

.projects__img {
  width: 200px;
  height: 130px;
}

.projects__gallery-box {
  position: relative;
  width: 280px;
  height: auto;

  
}

.projects__gallery-text {
  margin-bottom: 6px;
  font-size: 18px;
}

.projects__gallery-list {
  grid-template-columns: repeat(3, 1fr);
 

}

.projects__gallery-item:nth-child(n+7) {
  display: none;
}

.projects__gallery-link {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  right: 36px;
  
}
}